body{
    background-color: #45a049;
    color: white;
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}
  h1 {
    text-align: center;
  }

  form {
    margin-bottom: 20px;
  }

  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }

  input[type="radio"] {
    margin-right: 5px;
  }

  input[type="submit"] {
    padding: 5px 10px;
    background-color: white;
    color: #45a049;
    border: none;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color:gainsboro;
  }